<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="~{common :: commonHead}">
    <title>Product Manager</title>
</head>

<body>
<div class="container">
    <h1 class="mt-3">제품 리스트</h1>
    <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="btn btn-primary mb-3" th:href="@{/products/new}">새로운 제품 등록하기</a>
        </div>
        <a class="btn btn-secondary" th:href="@{/home}">홈으로</a>
    </div>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Made In</th>
            <th>Price</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}">Product ID</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.brand}">Brand</td>
            <td th:text="${product.madeIn}">Made in</td>
            <td th:text="${product.price}">Price</td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="btn btn-primary btn-sm" th:href="@{'/products/edit/' + ${product.id}}">수정하기</a>
                <a class="btn btn-danger btn-sm" th:href="@{'/products/delete/' + ${product.id}}">삭제하기</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS fragment 삽입 -->
<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
